#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    position: relative;
}

#cssmenu a {
    line-height: 1.3;
}

#cssmenu {
    width: 100%;
}

#cssmenu > ul > li {

}

#cssmenu > ul > li > a {
    /*padding-right: 40px;*/
    display: block;
    border-bottom: 1px solid #e0e0e0;
    text-transform: uppercase;
    font-size: 14px;
}

#cssmenu > ul > li > ul > li img {
     width: 30px;
     float: left;
     margin-right: 15px;
}

#cssmenu > ul > li > ul > li img {
    width: 30px;
    float: left;
    margin-right: 15px;
}

#cssmenu > ul > li > a > span {
    padding: 10px;
    display: block;
}

#cssmenu > ul > li > a:hover {
    text-decoration: none;
    background: rgb(238, 238, 238);
}

#cssmenu > ul > li.active {
    border-bottom: none;
}

#cssmenu > ul > li.active > a {

}

#cssmenu > ul > li.active > a span {

    background: rgb(238, 238, 238);
}

/*
#cssmenu span.cnt {
    position: absolute;
    top: 8px;
    right: 15px;
    padding: 0;
    margin: 0;
    background: none;
}
*/

/* Sub menu */
#cssmenu ul ul {
    display: none;
}

#cssmenu ul ul li {
    border: 1px solid #e0e0e0;
    border-top: 0;
    padding:10px;
}

#cssmenu ul ul a {
    padding: 10px;
    display: block;
}

#cssmenu ul ul a:hover {

}

#cssmenu ul ul li.odd {

}

#cssmenu ul ul li.even {

}

#cssmenu ul ul li div.name{
    float:left;
    line-height:18px;
}

#cssmenu ul ul li div.price{
    float:right;
    line-height:18px;
    width: 100px;
    text-align:right;
    display: block;
}